<div class="row topnav">

    <!-- Logo -->
    <!-- : Desktop -->
    <div class="col-2 d-none d-md-flex">
        <a href="/" class="no-underline">
            <img class="img-fluid" style="height: 160px;" height="160" width="107" src="/img/logo.webp" alt="Anglian P.H.E. flame with text logo">
        </a>
    </div>
    <!-- : Mobile -->
    <div class="col-2 d-md-none" style="padding: 0 5px;">
        <a href="/" class="no-underline">
            <img class="img-fluid" style="height: 70px;" height="70" width="45" src="/img/logo-isolate.webp" alt="Anglian P.H.E. flame only logo">
        </a>
    </div>

    <!-- Center -->
    <!-- : Desktop -->
    <div class="col-4 d-none d-md-block text-center">
        <span class="tagline">Your trusted local plumber and electrician</span>
    </div>
    <div class="col-4 d-none d-md-block text-center">
        <span class="tagline" style="font-weight: 600; color: #f74632;">Emergency or not...<br />Call now!<br /><a href="tel:+447825348536">07825 348 536</a></span>
    </div>
    <!-- : Mobile -->
    <div class="col d-md-none text-center" style="padding: 0 5px;">
        <img class="img-fluid" src="/img/logo-text-one-line.webp" alt="Anglian P.H.E. text only logo" style="height: 24px;" height="24" width="218">
        <p></p>
        <span class="tagline" style="font-size: 1.2rem; font-weight: 600; color: #f74632;">Emergency or not...<br />Call now!<br /><a href="tel:+447825348536">07825 348 536</a></span>
    </div>

    <!-- Menu -->
    <div class="col-2 col-md-2 text-right" style="padding: 0 5px;">
        <button class="vtoggler-control navbar-toggler no-border p-0" type="button" id="sidenavOpenButton">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-list menu-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
    </div>

</div>