<!DOCTYPE html>

<html lang="en-GB" prefix="og: http://ogp.me/ns#">
<head>
    <!-- Basics -->
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="Plumbing,Heating,Electrics,Bathroom,EV,Boiler,Radiator">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title | replace: '&nbsp;', ' ' }} &mdash; {{ site.title | replace: '&nbsp;', ' ' }}</title>

    <!-- Icons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Preloads -->
    <link rel="preload" href="/fonts/Roboto-Regular-webfont.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Roboto-Light-webfont.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Roboto-Medium-webfont.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Roboto-Bold-webfont.woff" as="font" type="font/woff" crossorigin>

    <!-- Search Engines -->
    <meta name="robots" content="index,follow,max-snippet:-1,max-image-preview:large,max-video-preview:-1"/>
    <meta name="google" content="nositelinkssearchbox">
    <link rel="canonical" href="/{{ page.url }}"/>

    <!-- Open Graph -->
    <meta property="og:image" content="{% if page.og-image %}{{ page.og-image }}{% else %}/img/default-og-image.png{% endif %}"/>
    <meta property="og:locale" content="en_GB"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ page.title | replace: '&nbsp;', ' ' }}"/>
    <meta property="og:url" content="/{{ page.url }}"/>
    <meta property="og:site_name" content="{{ site.title | replace: '&nbsp;', ' ' }}"/>
    
    <!-- Application Data -->
    <script type="application/ld+json">
        {
            "@context":"https://schema.org",
            "@graph":[
                {
                    "@type":"Organization",
                    "@id":"{{ site.url }}/#organization",
                    "name":"Anglian P.H.E.",
                    "url":"{{ site.url }}/",
                    "sameAs":[
                        "https://www.facebook.com/anglianphe"
                    ],
                    "logo":{
                        "@type":"ImageObject",
                        "@id":"{{ site.url }}/#logo",
                        "inLanguage":"en-GB",
                        "url":"{{ site.url }}/img/logo.png",
                        "width":200,
                        "height":300,
                        "caption":"Anglian P.H.E."
                    }
                }
            ]
        }
    </script>

    <!-- Style and Scripts -->
    <link rel="stylesheet" href="/css/main.css?v={{ 'now' | date: '%y%m%d%H%M' }}" type="text/css" media="all"/>
    
</head>

<body>

    {% include sidenav.html %}

    <div class="container-fluid main-body">
        <div class="row justify-content-center">
            <div class="col">
                
                <div class="container">
                    {% include topnav.html %}
                </div>
                
                {% include banner.html %}

                <div class="container">
                    {{ content }}
                </div>

            </div>
        </div>
    </div>

{% include footer.html %}

<script type="text/javascript" src="/js/site.js?ver=0.0.1"></script>

</body>
</html>